In [2]:
import pandas as pd
import numpy as np
import string
from config import u, p

In [3]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [4]:
from psycopg2.extensions import register_adapter, AsIs
def adapt_numpy_int64(numpy_int64):
  return AsIs(numpy_int64)
register_adapter(np.int64, adapt_numpy_int64)

In [14]:
database_path = f'postgres://{u}:{p}@database1.cpwzlmglu2fg.us-east-2.rds.amazonaws.com/proptax'

In [16]:
# Create Engine
engine = create_engine(database_path)
conn = engine.connect()

In [17]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['account_info_2017',
 'account_info_2019',
 'inventory',
 'account_info_2016',
 'account_info_2015',
 'res_addl_2019',
 'res_detail_2019',
 'account_apprl_year_2019',
 'account_apprl_year_2018',
 'account_apprl_year_2017',
 'account_info_2018',
 'account_apprl_year_2016',
 'account_apprl_year_2015']

In [22]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
account_info = Base.classes.account_info_2019

In [23]:
Base.metadata.create_all(engine)

In [24]:
# The ORM’s “handle” to the database is the Session.
session = Session(engine)

In [25]:
query = "select * \
        from account_info_2019 as ai \
        INNER JOIN account_apprl_year_2019 as aay on ai.account_num = aay.account_num \
        where ai.account_num = '00000127573000000'"

data = pd.read_sql(query, conn)#.set_index('rankid')

In [26]:
data.head()

,account_num,appraisal_yr,division_cd,biz_name,owner_name1,owner_name2,exclude_owner,owner_address_line1,owner_address_line2,owner_address_line3,...,vid_ind,gis_parcel_id,appraisal_meth_cd,rendition_penalty,division_cd,extrnl_cnty_acct,extrnl_city_acct,p_bus_typ_cd,bldg_class_cd,sptd_code
0,00000127573000000,2019,COM,VACANT LAND,BELCLAIRE REALTY LTD,,N,,4011 COMMERCE ST,,...,N,00000127573000000,1,,COM,,000081200500900,,LAND ONLY,C12